body {
        background: #bdc3c7;
        width: 100%;
}
.btn-group {
    visibility: hidden;}
    .hiddenm {
        visibility: visible;
    }
#container {
        width: 80%;
        margin: 0 auto;
}

#headerm img {
        width: 10%;
}
#headerm {
        font-size: 600%;
        margin: 0 auto;
        background: white;
        color: #FF0000;
        font-family: 'Open Sans', sans-serif;
        display: block;
        border: 1px solid #848484;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 2px #848484;
}
.item img {
        width: 100%;
}
a {
        color: black;
        font-weight: bold;
}
#carousel-example-generic {
        width:100%; 
        height:50%; 
        margin:0 auto;
        margin-top: 5px;
        border-radius: 10px;
}

.row {
        width:100%;
        margin: 0 auto;
}
.col-xs-4 {
        width: 30%;
        height: 550px;
        
        background: white;
        border: 1px solid grey;
        margin: 1%;
        box-shadow: 3px 3px 3px 5px #848484;
        padding: 2px;
        overflow: auto;
}
.col-xs-4:hover {
        background: #585858;
        color: white;
        transition: color 0.7s ease-in;
        -webkit-transition: color 0.7s ease-in;
}
.col-xs-4 img {
        width: 95%;
        height: 300px;
                }
.col-xs-4 p{
        text-align: center;
        font-size: 1.5em;
        margin-top: 20px;
}       
.btn {
        margin: 5px;
}
.nav {
        margin: 10px;
}
/*products page*/
#wraper {
        background: white;
        display: block;
        margin: 0 auto;
        font-size: 150%;
        line-height: 150%;
        padding: 10px;
        box-shadow: 2px 2px 2px 6px grey;
        border: 1px solid red;
        width: 83%;
}
#h2h {
        display: block;
        background: #FA5858;
        width: 30%;
        min-width: 10%;
        margin: 0 auto;
        border-radius: 5px;
        }
        #h2h h2 {
                padding: 2%;
                text-align: center;
                font-size: 200%;
        font-weight: bold;
        }
#h2h:hover {
        width: 100%;
        transition: width 2s ease-in;
        -webkit-transition:width 2s;
        color: black;

}
ul.col-xs-6 li {
        list-style: square;
}

@media screen and (max-width: 480px){
        .btn-group {
    visibility: visible;}
    .hiddenm {
        display: none;
    }
        li {
                display: block;
                width: 100%;
        }
        #headerm {
                        font-size: 300%;
                        min-width: 100%;
        }
        .col-xs-4 {
                width: 100%;
                display: block;
        }
        #wraper {
min-width: 300px;
background: #2c3e50;
color: white;
        }
        #h2h {
                min-width: 100%;
        }
        ul.col-xs-6 {
                width: 100%;
                display: block;
                float: none;
                

        }
        ul.col-xs-6 li {
                font-size: 150%;
        list-style: square;
        line-height: 200%;
        margin-left: 0;
}
button {
        width: 100%;
}
.row .col-xs-6 , .row .col-xs-5, .row .col-xs-3 {
        display: block;
        width: 100%;
        float: none;
        font-size: 100%;
}

}